<!DOCTYPE html>
<html>
<head>
    <title>List of Employees</title>
</head>
<body>
    <h1>List of Employees</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Hire Date</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.hire_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>