


p {
    color: red;
}

div#myDiv > p.mainClass {
    color: green;
    font-size: 30px;
}

div p {
    color: brown;
}

input[type="text"].myClass {
    background-color: black;
}

div ~ span {
    color: yellow;
}

p.myClass {
    color: blue;
}

div#mydiv {
    color: chartreuse;
}