/* Reset Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

/* Global Style */
:root {
    --emperor: #534a4b;
    --brown: #cc876e;
    --transition: all 0.5s ease-in-out;
}
body {
    line-height: 1.5;
    position: relative;
}
a {
    color: #000;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    width: 100%;
    display: block;
}
.btn-trans {
    background: transparent;
    color: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 200;
    padding: 0.8rem 2.2rem;
    border: 1px solid #fff;
    transition: var(--transition);
}
.btn-trans:hover {
    background: var(--emperor);
    border-color: var(--emperor);
}
.container {
    width: 90vw;
    margin: 0 auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 0.6rem 0;
    color: #e0e0e0;
    font-weight: 200;
    word-spacing: 2px;
}

/* Custom Style */
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/header-banner.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-bottom: 1.5px solid #fff;
}
.navbar-brand {
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff;
}
.navbar-toggler {
    z-index: 1000;
    padding: 0.2rem 0.4rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    color: #fff;
    transition: var(--transition);
}
.navbar-toggler:hover {
    color: var(--brown);
}
.nav-btns , .nav-icons {
    display: none;
}
.navbar-collapse {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: var(--transition);
}
.nav-item {
    margin: 0.7rem 0;
    padding: 1rem 0;
    text-align: center;
}
.nav-link {
    color: var(--brown);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3rem;
    transition: var(--transition);
}
.nav-link:hover {
    text-shadow: 0 0 4px #fff;
    color: #fff;
}
.navbar-nav {
    margin-top: 7rem !important;
    width: 90vw;
    margin: 0 auto;
}

/******************************************/
.show-nav {
    width: 100%;
}
/******************************************/

.header-banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.9;
    text-align: center;
}
.header-banner h3 {
    font-weight: 200;
    font-size: 1rem;
}
.header-banner-title {
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 1.3;
    letter-spacing: -1.5px;
    margin: 1.5rem 0;
}

/* features */
.features {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/background-img-2.png) center/cover no-repeat fixed;
}
.features-item {
    padding: 2.5rem;
    border-bottom: 0.5px solid #fff;
}
.features-icon {
    color: #fff;
    font-size: 1.8rem;
}
.features-title {
    color: #fff;
    margin: 0.6rem 0;
    text-transform: capitalize;
    font-weight: 300;
}

/* products */
.products {
    padding: 5rem 0;
}
.products-title {
    font-size: 2rem;
    text-align: center;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
}
.products-item {
    border-radius: 1rem;
    text-align: center;
    margin: 5rem 0;
    padding: 1.5rem 0;
    position: relative;
    transition: var(--transition);
}
.products-item:hover {
    background-color: #f1f1f1;
}
.products-item:first-of-type{
    margin-top: 2rem;
}
.products-item:last-of-type{
    margin-bottom: 2rem;
}
.products-item img {
    width: 160px;
    margin: 0 auto;
}
.products-info {
    padding: 2rem;
}
.products-info h4 {
    font-size: 1.2rem;
    font-weight: 800;
}
.ratings span {
    color: var(--emperor);
}
.products-info .text {
    color: var(--emperor);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.new-btn {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1rem;
    border: none;
    background: var(--brown);
    color: #fff;
    padding: 0.5rem 1.6rem;
    border-radius: 5px;
    transition: var(--transition);
}
.new-btn:hover {
    opacity: 0.8;
}
.add-btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 1.3rem;
    font-size: 1rem;
    padding: 0.7rem 1.8rem;
    background: var(--emperor);
    border: none;
    transform: translate(-50%, 50%);
    color: #fff;
    text-transform: capitalize;
}
.add-btn:hover {
    background: #000;
}







/* Media Queries */
@media screen and (min-width: 500px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
    .nav-icons {
        display: flex;
    }
    .nav-icons span {
        color: #fff;
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: var(--transition);
    }
    .nav-icons span:hover{
        opacity: 0.7;
    }
    .header-banner {
        text-align: left;
    }
    .header-banner h3 {
        font-size: 1.3rem;
    }
    .header-banner-title {
        font-size: 4rem;
    }
    .product-item img{
        width: 200px;
    }
    .product-item .text{
        width: 60%;
    }
}

@media screen and (min-width: 768px) {
    .features-wrapper {
        padding: 5rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .features-item {
        border: none;
    }
    .features-item:nth-child(odd) {
        border-right: 0.5px solid #fff;
    }

}


@media screen and (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
    .nav-btns {
        display: flex;
    }
    .nav-btns button {
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 300;
        opacity: 0.9;
        border: 0.5px solid;
        padding: 0.4rem 0;
        margin: 0 0.5rem;
        width: 100px;
        transition: var(--transition);
    }
    .nav-btns button:hover {
        opacity: 1;
    }
    .nav-btns button:first-child {
        border-color: var(--emperor);
        background: var(--emperor);
        color: #fff;
    }
    .nav-btns button:first-child:hover {
        border-color: #fff;
        background: transparent;
    }
    .nav-btns button:last-child {
        border-color: #fff;
        background: transparent;
        color: #fff;
    }
    .nav-btns button:last-child:hover {
        border-color: var(--emperor);
        background: var(--emperor);
    }
    .navbar-extra-content {
        flex: 1 0 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
    }
    .navbar-collapse {
        position: relative;
        width: 100%;
        background: transparent;
        flex: 0 0 40%;
    }
    .navbar-nav {   
        display: flex;
        margin: 0!important;
    }
    .nav-item {
        padding: 0;
        margin: 0 0.5rem;
    }
    .nav-link {
        font-size: 1rem;
        letter-spacing: normal;
        color: #fff;
        text-transform: capitalize;
    }
    .nav-link:hover {
        color: var(--brown);
        text-shadow: none;
    }
    .navbar-brand{
        flex: 0 0 200px;
    }
    .header-banner div {
        width: 70%;
        margin: 0 auto;
    }
    .products-item-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6rem;
    }
    .products-item:last-of-type{
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .features-wrapper {
        height: 800px;
        grid-template-columns: repeat(4, 1fr);
    }
    .features-item:nth-child(2) {
        border-right: 0.5px solid #fff;
    }
    .features-item:nth-child(odd) .features-icon {
        display: block;
        margin-top: 12rem;
    }
}


/* animation & transition stopper */
.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}